# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Go.gitlab-ci.yml

image: golang:latest

.parallel:
  parallel:
    matrix:
      - ARCH:
          - x86-64
          - arm64
  tags:
    - $ARCH

stages:
  - test
  - build
  - deploy

format:
  extends: .parallel
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race $(go list ./... | grep -v /vendor/)

compile:
  extends: .parallel
  stage: build
  script:
    - mkdir -p mybinaries-${ARCH}
    - go build -o mybinaries-${ARCH} ./...
  artifacts:
    paths:
      - mybinaries-${ARCH}

deploy:
  extends: .parallel
  stage: deploy
  script: echo "Define your deployment script!"
  environment: production
