name: GitLab
on:
  pull_request:
    types:
      - closed
jobs:
  gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Gitlab Sync
        uses: kujov/gitlab-sync@338a7a19fc012aaefa316566e288f34660950373
        with:
          # GitLab repo URL
          gitlab_url: ${{ secrets.GITLAB_URL }}
          # GitLab username
          username: ${{ secrets.GITLAB_USER }}
          # GitLab token
          gitlab_pat: ${{ secrets.GITLAB_TOKEN }}
