name: GitLab
on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
jobs:
  gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: GitLab Pipeline Trigger
        # You may pin to the exact commit or the version.
        # uses: digital-blueprint/gitlab-pipeline-trigger-action@7fef6b4967aef68a1671ccf42a6e45f7a27487d8
        uses: digital-blueprint/gitlab-pipeline-trigger-action@v1.2.0
        with:
          # The GitLab host to trigger the pipeline.
          host: ${{ secrets.GITLAB_HOSTNAME }}
          # The ID or URL-encoded path of the project owned by the authenticated user.
          id: ${{ secrets.GITLAB_PROJECT_ID }} 
          # The branch or tag to run the pipeline on.
          ref: master
          # Pipeline Trigger Token, see https://docs.gitlab.com/ee/ci/triggers/index.html#create-a-trigger-token
          trigger_token: ${{ secrets.GITLAB_TRIGGER_TOKEN }}
          # Pipeline Access Token, see https://docs.gitlab.com/ee/user/project/settings/project_access_tokens.html
          # access_token: # optional, default is 
          # A map of key-valued strings containing the pipeline variables. For example: { VAR1: "value1", VAR2: "value2" }.
          variables: "{ \"GITHUB_REPO\": \"${{ github.server_url }}/${{ github.github.repository }}.git\", \"GITHUB_REF\": \"${{ github.sha }}\" }"
